# Example .env ------------------------------------

# OAuth App Credentials from GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# The path to your repository in GitHub
REPO_FULL_NAME=my-github-user/my-github-repo

# The base branch that new changes and forks are created from. Defaults to 'master'.
BASE_BRANCH=master

# The signing key used for token encryption
SIGNING_KEY=